*{
  margin: 0;
  padding: 0;
}

#container{
  width: 100%;
  max-width: 1200px;
  min-width: 700px;
  height: 1900px;
  margin: 0 auto;
}

.slideshow {
	position: relative;
	width: 500px; /* 画像の横幅に合わせて記述 */
	height: 500px; /* 画像の高さに合わせて記述 */
	margin: 0px auto 0px auto;
}

.slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 1;
   opacity: 0.0;
}

.slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}

.slideshow img.last-active {
   z-index: 2;
}

header{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

header h1{
  margin: auto;
}

main{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-bottom: 50px;
  background: #fff;
}

main div{
  display: flex;
  flex-direction: row;
}

main div img{
  margin: auto;
}

Text{
  display: flex;
  flex-direction: row;
}

Text h2{
  margin: auto;
}

Text2{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

Text2 h5{
  margin: auto;
}

article{
  width: auto;
  height: 550px;
  margin: auto;
  margin-bottom: 25px;
  background: #fff;
}

article ul{
  display: flex;
  flex-direction: row;
}

article ul li1{
  margin: auto;
  margin-bottom: 50px;
}

article ul2{
  display: flex;
  flex-direction: row;
}

article ul2 li2{
  margin: auto;
  margin-bottom: 50px;
}

article ul3{
  display: flex;
  flex-direction: row;
}

article ul3 li3{
  margin: auto;
}

article ul li1 p{
  text-align: center;
}

article ul2 li2 p{
  text-align: center;
}

article ul3 li3 p{
  text-align: center;
}

footer {
  text-align: center;
}